<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="smartdb_watcher.contribution1"
            objectClass="org.eclipse.core.resources.IProject">
          <menu
             id="org.eclipse.ui.articles.action.contribution.navigator.subMenu"
             label="Media Deployer"
             path="additions">
          <separator name="group1"/>
          </menu>
           <action
             id="org.eclipse.ui.articles.action.contribution.navigator.stop" 
             label="STOP"
          menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/group1" 
             class="jp.co.dreamarts.plugin.mediadeployer.actions.ServiceCloser"
          enablesFor="1">
          </action> 
          <action
             id="org.eclipse.ui.articles.action.contribution.navigator.start" 
             label="START"
          menubarPath="org.eclipse.ui.articles.action.contribution.navigator.subMenu/group1" 
             class="jp.co.dreamarts.plugin.mediadeployer.actions.MediaDeployer"
          enablesFor="1">
          </action> 
          
          
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.eclipse.jdt.core.javanature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
</plugin>
